.heading{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.heading h2{
    width: 300px;
    background-color: lightblue;
    padding: 5px;
}
.heading h2{
  text-align: center;
}
.main_gallery{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gallery{
    width: 18%;
    text-align: center;
}
.gallery .title{
    padding: 10px;
}
.title-text{
    color: tomato;
}
.gallery .title h3,.gallery .title p{
    margin-bottom: 5px;
}

.main_gallery .gallery{
    border: 1px solid rgb(116, 113, 113);
    border-radius: 12px;
    padding: 5px;
}
.main_gallery .gallery .img{
    width: 100%;
    border-radius: 12px;
    background-color: lightcoral;
}
.main_gallery .gallery .img img{
     width: 100%;
    border-radius: 12px;
}