#root{
  padding: 0px !important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px #000000;
  padding: 20px;
}
nav .logo h1{
  font-size: 25px;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li{
  margin: 5px;
}
nav ul li a{
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.heading{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.heading h2{
  text-align: center;
}
.main_gallery{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#form{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 2px 5px #000000;
  border-radius: 10px;
}
#form form{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
#form form label{
  margin: 10px 0px 5px 0px;
  font-weight: bold;
}
#form form input, #form form textarea{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
}
#form form input:focus, #form form textarea:focus{
  outline: none;
  border: 2px solid #646cff;
}
#form form > [type="submit"]{
  width: 30%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  background-color: #646cff;
  color: white;
  font-weight: bold;
}